.error {
  color: red;
  padding: 5px;
  border-radius: 5px;
  margin: 10px 0;
}

/* Navigointivalikko */
.custom-navbar {
  color: white !important;
  background-color: #156082 !important;
  margin: 0px 25px 0px 0px;
}

/* Napit */
.custom-button {
  color: white !important;
  background-color: #156082 !important;
  padding: 10px !important;
  margin: 16px;
  border: none;
}

/* LogOut-nappi */
.custom-logoutButton {
  color: black !important;
  background-color: #ebeff3 !important;
  padding: 8px !important;
  border: none;
}

/* Taulukon tausta */
.event-container {
  background-color: #ebeff3;  
  padding: 10px;
  border-radius: 1px;
  margin-bottom: 10px;
}

/* Otsikkorivi */
.event-header {
  display: grid;
  font-weight: bold;
  grid-template-columns: 1fr 1.7fr 3.5fr 1.3fr 1fr; /* Sarakkeiden leveys */
  gap: 0px;
  padding: 10px;
  text-align: left;
}

/* Yksittäinen tapahtumarivi taulukossa*/
.event-item {
  display: grid;
  background-color: white;
  grid-template-columns: 1fr 1.7fr 3.5fr 1.3fr 1fr; /* Sarakkeiden leveys */
  gap: 0px;
  padding: 1.5px;
  margin-top: 5px;
  text-align: left;
  list-style-type: none;  /* Poistaa luettelopallon */
}

.event-data {
  padding: 2px;
  text-align: left;
}

/* Summa-taulukko */
/*
.summary-container {
  display: grid;
  grid-template-columns: 1fr 8fr ; 
  gap: 10px; 
  background-color: #ebeff3; 
  padding: 15px;
  list-style-type: none;
}

.summary-item {
  display: grid;
  grid-template-columns: 1fr 1.7fr 3.5fr 1.3fr 1fr; 
  gap: 0px;
  padding: 1.5px;
  margin-top: 5px;
  text-align: right;
  list-style-type: none;
}

.title {
  font-weight: bold;
  text-align: right;
}

.value {
  text-align: left;
  color: black; 
}
*/

/* Kuukauden summary-taulukko */
.summary-box {
  background-color: #f1f4f7;
  padding: 10px;
  border-radius: 1px;
  margin: 0px;
  
}

.summary-grid {
  display: grid;
  grid-template-columns: 1fr 1.7fr 2.7fr;
  align-items: start;
}

.summary-labels p,
.summary-values p,
.category-summary p {
  margin: 0.2rem 0;
}

/*
.event-item {
  background-color: white; 
  display: grid;
  grid-template-columns: 1fr 2fr 3fr 2fr; 
  gap: 10px;
  padding: 2px;
  text-align: left;
  list-style: none;
}
*/
