.error {
  color: red;
  padding: 5px;
  border-radius: 5px;
  margin: 10px 0;
}


/* ---Navigointivalikko--- */
.custom-navbar {
  color: white !important;
  background-color: #156082;
  padding: 10px;
  margin: 0px 30px 0px 0px;
}

.navbar-container {
  background-color: #156082;
  padding: 0px;
  margin: 0px 0px 20px 0px;
}


/* ---Napit--- */
.custom-button {
  color: white !important;
  background-color: #156082 !important;
  padding: 10px !important;
  margin: 16px;
  border: none;
}

.custom-logoutButton {
  color: black !important;
  background-color: #ebeff3 !important;
  border: none;
}

.custom-deleteButton {
  margin-left: "10px";
  color: #156082 !important;
  border: "none" !important;
  outline: none;
  background: "none" !important;
  font-size: 10rem;
  padding: 0;
}


/* ---Koko sivun tausta--- */
.page-container {
  background-color: #ffffff;
  padding: 10px;
  margin: 15px 45px 25px 25px;
}


/* ---Kuukauden summary-taulukko--- */
.summary-box {
  background-color: #f1f4f7;
  padding: 10px;
  border-radius: 1px;

}

.summary-grid {
  display: grid;
  grid-template-columns: 1fr 1.7fr 2.7fr;
  align-items: start;
}

.summary-labels p,
.summary-values p,
.category-summary p {
  margin: 0.2rem 0;
}


/* ---Events-taulukon tausta--- */
.event-container {
  background-color: #ebeff3;
  padding: 10px;
  border-radius: 1px;
}

/* Otsikkorivi */
.event-header {
  display: grid;
  font-weight: bold;
  grid-template-columns: 1fr 1.7fr 3.5fr 1.3fr 1fr;
  gap: 0px;
  padding: 10px;
  text-align: left;
}

/* Yksittäinen tapahtumarivi taulukossa*/
.event-item {
  display: grid;
  background-color: white;
  grid-template-columns: 1fr 1.7fr 3.5fr 1.3fr 1fr;
  padding: 1.5px;
  margin-top: 5px;
  text-align: left;
  list-style-type: none;
}

.event-data {
  padding: 2px;
  text-align: left;
}


/* ---Savings-sivu--- */
.savings-container {
  background-color: #ebeff3;
  padding: 10px;
  border-radius: 1px;
}