/* ---Errormessages--- */
.error {
  color: red;
  padding: 5px;
  border-radius: 5px;
  margin: 10px 0;
}

.password-error {
  color: rgb(132, 11, 11);
  font-size: 12px;
  margin-bottom: 0px;
}

.form-error {
  margin-top: 10px;
  color: #bc1e1e;
  font-size: 14px;
}

/* ---Background of the page--- */
.page-container {
  background-color: #ffffff;
  padding: 0.5%;
  margin: 1% 9% 5% 9%;
}

/* ---Navigation bar--- */
.custom-navbar {
  color: white !important;
  font-size: 105%;
  background-color: #156082;
  gap: 20%;
  justify-content: center;
  align-items: center;
}

.navbar-container {
  background-color: #156082;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 0px;
  padding: 0px;
}


/* ---Buttons--- */
.custom-BigBlueButton {
  color: white;
  background-color: #156082;
  padding: 7px;
  margin: 25px 25px 25px 0px;
  width: 120px;
  border: none;
  border-radius: 5px;
}

.custom-SmallBlueButton {
  color: white;
  background-color: #156082;
  padding: 7px;
  margin: 25px 25px 25px 0px;
  width: 90px;
  border: none;
  border-radius: 5px;
}

.custom-GreyButton {
  color: rgb(0, 0, 0);
  background-color: #adb3b6;
  padding: 7px;
  margin: 25px 0px 25px 0px;
  width: 140px;
  border: none;
  border-radius: 5px;
}

.custom-AddEventButton {
  color: white;
  background-color: #156082;
  padding: 10px;
  margin: 23px 0px 23px 0px;
  width: 100%;
  border: none;
}

.custom-logoutButton {
  color: black;
  background-color: #ebeff3;
  padding: 3%;
  border: none;
  font-size: 110%;

}

.custom-deleteButton {
  color: #cfc61d;
  border: none;
  outline: none;
  background: none;
  font-size: 17px;
  font-weight: 500;
  padding: 3;
}

.custom-percentageButton {
  color: #156082;
  outline: none;
  border-width: 1px;
  background-color: #ebeff3e8;
  font-size: 15px;
  font-weight: 500;
  width: 150px;
  padding: 4px;
  margin: 5px 0px 30px 0px
}


/* ---Summary of the month-table--- */
.summary-box {
  background-color: #dfe2e6;
  padding: 0.6%;

}

.summary-grid {
  display: grid;
  grid-template-columns: 1fr 1.7fr 2.7fr;
  align-items: start;
  margin: 0px 0px 0px 10px;
}

.summary-labels {
  font-weight: 400;
  margin: 0px 0px 0px 10px;
}

.summary-values {
  font-weight: 500;
}

.category-summary p {
  margin: 0px 0px 4px 0px;
}


/* ---Background of events-table--- */
.event-container {
  background-color: #dfe2e6;
  padding: 0.5%;
}

/* Header line */
.event-header {
  display: grid;
  font-weight: bold;
  grid-template-columns: 1fr 1.7fr 3.5fr 1.3fr 1fr;
  gap: 0px;
  padding: 10px;
  text-align: left;
}

/* Single event row in the table*/
.event-item {
  display: grid;
  background-color: white;
  grid-template-columns: 1fr 1.7fr 3.5fr 1.3fr 1fr;
  padding: 1.5px;
  margin-top: 5px;
  text-align: left;
  list-style-type: none;
}

.event-data {
  padding: 2px;
  text-align: left;
}


/* ---Savings-page--- */
.savings-container {
  background-color: #dfe2e6;
  padding: 12px;
  border-radius: 1px;
}


/* ---Graphs-page--- */
.chart-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

@media (min-width: 768px) {
  .chart-container {
    flex-direction: row; /*isommilla näytöillä vierekkäin*/
    justify-content: space-evenly;
    align-items: flex-start;
  }
  .chart-box {
    flex: 1;
    width: 100%;
    max-width: 48%;
  }
}

.chart-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  max-width: 100%;
  flex: 1 1 300px;
  list-style: none;
}
.piechart {
  display: flex;
  justify-content: center;
  align-items: start;
  margin-right: 0px;
  gap: 15px
}

.piechart svg {
  max-width: 100%;
  height: auto;
}



/* ---MonthMenu--- */
.month-menu-container {
  display: grid;
  grid-template-columns: 1fr 3.5fr;
  margin: 0px 0px 40px 0px;
  width: fit-content;
}

.month-menu-label {
  display: grid;

  width: 140px;
  margin-left: 50px;
  margin-right: 10px;
  font-weight: 500;
}